html,body {
    height: 100%;
    margin: 0;
  }
  
  
  

  .wrapper {
    position: relative;
    overflow: hidden;
  }

  .container {
      width: 1170px;
      margin: 0 auto;
      height: 670px;
      position: relative;
  }

  a {
    text-decoration: none;
  }

