@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
.class {
  font-size: 2.71429rem; }

/*Секция intro*/
.intro {
  background-color: #e9e9e9;
  position: relative;
  background-size: cover; }

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.intro__content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px; }
  @media (max-width: 767px) {
    .intro__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 0; } }

@media (max-width: 767px) {
  .intro__image {
    display: none; } }

@media (max-width: 767px) {
  .intro__content-block {
    text-align: center;
    width: 100%; } }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 25px;
  margin-top: 28px; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none; }
  @media (max-width: 767px) {
    .navigation {
      display: none; } }

.navigation__item {
  padding-right: 25px;
  color: #191919;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.2px; }

.navigation__item:hover {
  color: #10c9c3;
  letter-spacing: 1.2px; }

.navigation_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  background: #e9e9e9;
  z-index: 1; }

.intro__title {
  color: #1d1d1d;
  font-family: Montserrat;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.38px; }
  @media (max-width: 767px) {
    .intro__title {
      font-size: 2.3rem;
      padding: 1.6rem; } }

.intro__description {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.09px;
  width: 474px; }
  @media (max-width: 767px) {
    .intro__description {
      font-size: 1.2rem;
      width: 100%; } }

.button__contact {
  background-color: #10c9c3;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 84px;
  text-transform: uppercase;
  padding: 23px 46px 22px 46px; }
  @media (max-width: 767px) {
    .button__contact {
      font-size: 0.8rem;
      padding: 22px 48px 22px 48px; } }

.button__contact:hover {
  background-color: #787878; }

.hamburger__menu {
  width: 24px;
  margin: 0 20px 0 24px;
  position: relative;
  display: none; }
  @media (max-width: 767px) {
    .hamburger__menu {
      display: inline-block;
      position: relative;
      z-index: 1; } }

.hamburger__menu_link {
  width: 24px; }

.hamburger__menu_item {
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 7px; }

/* Секция about*/
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.about__content {
  width: 620px;
  text-align: center; }
  @media (max-width: 767px) {
    .about__content {
      width: 100%; } }

.title {
  color: #191919;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0.3px; }
  @media (max-width: 767px) {
    .title {
      font-size: 2.3rem; } }

.description__about {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px; }
  @media (max-width: 767px) {
    .description__about {
      font-size: 1.2rem; } }

/*Секция skills*/
.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #f8f9f9;
  height: 670px; }

.skills__container {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }

@media (max-width: 767px) {
  .title__skills {
    text-align: center;
    margin-bottom: 85px; } }

.grey-background {
  width: 50%;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0; }

.man__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .man__image {
      display: none; } }

.skills__list {
  list-style-type: none; }

.skills__item {
  padding-bottom: 20px; }

.skills__item-title {
  color: #000000;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px; }
  @media (max-width: 767px) {
    .skills__item-title {
      font-size: 1rem; } }

.band {
  width: 500px;
  height: 3px;
  background-color: #d8d8d8; }
  @media (max-width: 767px) {
    .band {
      width: 100%; } }

.band2 {
  width: 336px;
  height: 3px;
  background-color: #10c9c3; }
  @media (max-width: 767px) {
    .band2 {
      width: 75%; } }

.band3 {
  width: 428px;
  height: 3px;
  background-color: #10c9c3; }
  @media (max-width: 767px) {
    .band3 {
      width: 90%; } }

.band4 {
  width: 280px;
  height: 3px;
  background-color: #10c9c3; }
  @media (max-width: 767px) {
    .band4 {
      width: 65%; } }

/*Секция projects*/
.projects {
  width: 100%;
  background-color: #10c9c3; }

.achievments {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 75px;
  width: 1170px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .achievments {
      width: 90%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0;
      padding: 20px; } }

@media (max-width: 767px) {
  .achievments__content {
    width: 12rem; } }

.achievments__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .achievments__item {
      padding-bottom: 3,125rem; } }

.achievments__icon {
  padding-right: 25px; }

.achievments-number {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.54px; }

.achievments__desc {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px; }

.projects__done {
  width: 100%; }

.projects__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none; }

.projects__item {
  position: relative;
  width: 25%;
  height: 20rem;
  background-size: cover; }
  @media (max-width: 767px) {
    .projects__item {
      width: 50%;
      height: 75px; } }
  .projects__item:hover .projects__hover {
    opacity: 1; }

.projects__hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(20, 20, 20, 0.85);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/*Секция process*/
.process__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.process__descripton {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  width: 500px; }
  @media (max-width: 767px) {
    .process__descripton {
      width: 100%;
      font-size: 1.2rem;
      text-align: center; } }

.process__video {
  width: 670px;
  height: 571px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .process__video {
      width: 100%;
      height: 292px; } }

@media (max-width: 767px) {
  .title__process {
    text-align: center; } }

@media (max-width: 767px) {
  iframe {
    width: 90%;
    height: 280px; } }

/*Секция best*/
.best {
  background-size: cover;
  position: relative;
  background-color: #f5f5f5; }
  @media (max-width: 767px) {
    .best {
      display: none; } }

.best__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.work {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .work {
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-right: 40px; }
  @media (max-width: 767px) {
    .work__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

@media (max-width: 767px) {
  .work__icon {
    margin-right: 20px; } }

.work__title {
  color: #191919;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.2px; }

.work__desc {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  width: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/*Секция testimonials*/
.testimonials {
  background-size: cover;
  position: relative;
  background-color: #10c9c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 670px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.testimonials__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/*.testimonials__container {
    display: flex;
    align-items: center;
    justify-content: center;
}*/
.testimonials__block {
  padding-bottom: 105px; }
  @media (max-width: 767px) {
    .testimonials__block {
      width: 80%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 0; } }

.main-text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  font-size: 30px;
  letter-spacing: 0.3px;
  letter-spacing: 0.24px;
  width: 807px;
  text-align: center;
  padding-bottom: 30px; }
  @media (max-width: 767px) {
    .main-text {
      width: inherit; } }

.name-client {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.testimonials__slider {
  max-width: 1000px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* Hide the images by default */
.testimonials__text {
  display: none; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

/* Position the "next button" to the right */
.next {
  right: -40px;
  border-radius: 3px 0 0 3px;
  width: 20px;
  height: 20px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  background: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: 40;
  margin-left: -10px;
  border-radius: 3px; }

.prev {
  left: -80px;
  border-radius: 3px 0 0 3px;
  left: -40px;
  border-radius: 3px 0 0 3px;
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  background: transparent;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  position: absolute;
  bottom: 40; }

/* On hover, add a black background color with a little bit see-through */
/* Caption text */
/* Number text (1/3 etc) */
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  width: 8px;
  height: 8px;
  background-color: #b0e8e6; }

.active, .dot:hover {
  width: 10px;
  height: 10px;
  background-color: #ffffff; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

/*Секция clients*/
.clients {
  background-size: cover;
  position: relative;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }

.clients__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 20px; }
  @media (max-width: 767px) {
    .clients__list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 90%;
      padding: 0;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

.clients__item {
  margin-right: 80px; }
  @media (max-width: 767px) {
    .clients__item {
      margin-bottom: 20px;
      margin-right: 0; } }

.clients__icon {
  width: 80px; }

/*Секция form*/
.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 767px) {
  .needAProject {
    padding: 0;
    margin: 0; } }

.order__desc {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  width: 537px;
  text-align: center; }
  @media (max-width: 767px) {
    .order__desc {
      width: 100%;
      font-size: 1.2rem;
      margin: 0;
      padding: 0; } }

@media (max-width: 767px) {
  form {
    margin-top: 20px; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__block {
  margin-left: 20px;
  width: 100%; }

.form__input {
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  margin-bottom: 20px; }

.comment {
  width: 670px;
  height: 170px;
  background-color: #ffffff; }
  @media (max-width: 767px) {
    .comment {
      width: 100%; } }

.submit {
  background-color: #10c9c3;
  padding: 23px 35px 22px 35px;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-top: 20px;
  cursor: pointer; }

.submit:hover {
  background-color: #787878; }

.form {
  text-align: center; }

::-webkit-input-placeholder {
  color: #787878;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px;
  padding-left: 20px; }

/*Секция footer*/
.footer {
  background-size: cover;
  position: relative;
  background-color: #141414;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .footer__container {
      width: 90%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.law__name {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0.18px;
  padding-bottom: 2px; }

.law__rules {
  color: #bcbcbc;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px; }

.contact__info, .articles__info_column, .social {
  list-style-type: none; }

.footer__item {
  color: #bcbcbc;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px; }

.articles__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

a {
  color: #bcbcbc; }

@media (max-width: 767px) {
  .law__info {
    text-align: center; } }

html, body {
  height: 100%; }

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%; }

.container {
  width: 1170px;
  margin: 0 auto;
  height: 670px; }
  @media (max-width: 767px) {
    .container {
      width: 90%;
      height: 100%; } }

a {
  text-decoration: none; }

@media (max-width: 767px) {
  .section {
    height: 100%; } }
