.clients {
    background-size: cover;
    position: relative;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.clients__list {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;

    @include phone {
        flex-direction: column;
    }
}

.clients__item {
    margin-right: 80px;
    @include phone {
        margin-bottom: 20px;
        margin-right: 0;
    }
}