.testimonials {
    background-size: cover;
    position: relative;
    background-color: #10c9c3;
}

.testimonials__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    font-size: 30px;
    letter-spacing: 0.3px;
    letter-spacing: 0.24px;
    width: 807px;
    text-align: center;
    padding-bottom: 30px;
}

.name-client {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
}


