.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__content {
    width: 620px;
    margin-top: 150px;
    text-align: center;
    @include phone {
        width: 100%;
        margin-top: 0;
    }
}

.title {
    color: #191919;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.3px;
    @include phone {
        font-size: 2.9rem;
    }

}

.description__about {
    color: #787878;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
    @include phone {
        font-size: 1.5rem;
    }
}