.projects__done {
    width: 100%;

}

.projects__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.projects__item {
    position: relative;
    width: 25%;
    height: 20rem;
    background-size: cover;

    @include phone {
        width: 50%;
        height: 75px;
    }

    &:hover {
        .projects__hover {
            opacity: 1;
        }
    }

}

.projects__hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(#141414,0.85);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
