.work {
    height: 840px;
}

.projects {
    width: 100%;
    background-color: #10c9c3;
    display: flex;
    justify-content: center;

    @include phone {
        height: none;
    }
}

.achievments {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 1170px;

    @include phone {
        width: 100%;
        flex-direction: column;
        padding-top: 0;
        align-content: center;

    }
}

.achievments__item {
    display: flex;
    @include phone {
        padding-bottom: 3,125rem;

    }
}

.achievments__icon {
    padding-right: 25px; 
}

.achievments-number {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}

.achievments__desc {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}