.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.needAProject {
    @include phone {
        padding: 0;
        margin: 0;
    }
}

.order__desc {
    color: #787878;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
    width: 537px;
    text-align: center;

    @include phone {
        width: 100%;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }
}

form {
    @include phone {
     margin-top: 20px;
    }
    
}


.form__row {
    display: flex;
}

.form__block {
    margin-left: 20px;
    width: 100%;
}


.form__input {
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    margin-bottom: 20px;

}

.comment {
    width: 670px;
    height: 170px;
    background-color: #ffffff;
    @include phone {
        width: 100%;
    }
}

.submit {
    background-color: #10c9c3;
    padding: 23px 35px 22px 35px;
    color: #fff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
        text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-top: 20px;
    cursor: pointer;
}

.submit:hover {
    background-color: #787878;
}

.form {
    text-align: center;
}

::-webkit-input-placeholder {     
    color: #787878;
    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
    padding-left: 20px;
}
