.best {
    background-size: cover;
    position: relative;
    background-color: #f5f5f5;
}

.best__container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.work {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    @include phone {
        text-align: center;
        justify-content: center;
    }
}

.work__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 40px;

    @include phone {
        flex-direction: row;
    }
}

.work__icon {
    @include phone {
        margin-right: 20px;
    }
}

.work__title {
    color: #191919;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.work__desc {
    color: #787878;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
    width: 229px;
    display: flex;
    align-items: center;
}

