.footer {
    background-size: cover;
    position: relative;
    background-color: #141414;
    align-items: center;
    display: flex;
}

.footer__container {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.law__name {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: 0.18px;
    padding-bottom: 2px;
}

.law__rules {
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
}

.contact__info, .articles__info_column, .social {
    list-style-type: none;
}

.footer__item {
    color: #bcbcbc;
    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.07px;
}

.articles__info {
    display: flex;
}

a {
    color: #bcbcbc;
}
