.intro__title {
    color: #1d1d1d;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.38px;
    @include phone {
        font-size: 2.3rem;
        padding: 1.6rem;
    }
}

.intro__description {
    color: #787878;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.09px;
    width: 474px;
    @include phone {
        font-size: 1.2rem;
        width: 100%;
    }
}

.button__contact {
    background-color: #10c9c3;
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 84px;
    text-transform: uppercase;
    padding: 23px 46px 22px 46px;

    @include phone {
        font-size: 0.8rem;
        padding: 22px 48px 22px 48px;
}



    }


.button__contact:hover {
    background-color: #787878;
}

