.intro {
    background-color: #e9e9e9;
    position: relative;
    background-size: cover; 
}

.intro__container {
    display: flex;
    flex-direction: column;
}

.intro__content {
    align-items: center;
    display: flex;
    margin-top: 100px;
}
