.intro__title {
    color: #1d1d1d;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.38px;
}

.intro__description {
    color: #787878;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.09px;
    width: 474px;
}

.button__contact {
    background-color: #10c9c3;
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 84px;
    text-transform: uppercase;
    padding: 23px 46px 22px 46px;
}

