.intro {
    background-color: #e9e9e9;
    position: relative;
    background-size: cover; 
}

.intro__container {
    display: flex;
    flex-direction: column;
}

.intro__content {
    align-items: center;
    display: flex;
    margin-top: 100px;
    @include phone {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 0;
    }

}

.intro__image {
    @include phone {
     display: none;   
    }
    
}

.intro__content-block {
    @include phone {
        text-align: center;
        width: 100%;
    }
}